@page 
@model Entity_Razor.Pages_Blog.IndexModel

@{
    ViewData["Title"] = "Index";
    int stt=0;
}
@{
    var pageModel=new Entity_Razor.Helper.PagingModel(){
        currentPage=Model.currentPage,
        countPages=Model.countPages,
        generateUrl=(int?p)=>@Url.Page("/Blog/Index",new{p=p})
    };
}

<h1>Danh sách Bài viết</h1>
<form method="get" asp-page="./Index">
    <label for="">Tìm kiếm</label>
    <input type="text" name="searchString" value="">
    <button type="submit">Tìm</button>
   
</form>
<p>
    <a asp-page="Create" class="btn btn-primary" style="margin-top: 5px;">Bài viết mới</a>
</p>
<partial name="_Paging" model="@pageModel"/>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            @{stt++;}
            <td>@stt</td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Xem</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
